
{% include "navbar.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>realestate</title>
    <link rel="stylesheet" href="/style/index.css">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<style>
 #searchbox
{
   width: 99.9%;
   /* border: 2px solid black; */
   height: 400px;
   /*                    for background image           */             
  /* background-image: url(/static/image/land.avif);
   background-repeat: no-repeat;
   background-size: 1400px 100%; */


}

</style>
<body>
    <div id="searchbox">
        <p id="welcome">Hello {{request.user}}</p>
        
       
        
      
    </div>
</body>
</html>