body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  font-weight: 500px;
  
}


.navbar {
  padding: 13px;
  margin: 1px;
  /* flex: sticky; */
  /* background-color:#000035; */
  background: rgb(0, 0, 53);
  background: linear-gradient(90deg, rgba(0, 0, 53, 1) 44%, rgba(0, 31, 255, 1) 100%);
  
  font-family: serif;
  box-sizing: border-box;
  border-radius: 6px;
  width: 100%;
}

.navbar .nav-item {
  padding: 4px;
}

.navbar a {
  text-decoration: none;
  color: white;
  list-style-type: none;

}

.navbar .logout a {
  text-align: center;

}

/*                         home page                  */

#welcome {
  font-size: 39px;
  color: #000035;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;

}

/*                        profile pic                */

/* Style the dropdown menu container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Style the dropdown button */
.dropdown-button {
  background: linear-gradient(90deg, rgba(0, 0, 53, 1) 44%, rgba(0, 31, 255, 1) 100%);
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Style the dropdown menu */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: linear-gradient(90deg, rgba(0, 0, 53, 1) 44%, rgba(0, 31, 255, 1) 100%);
  border: 1px solid black;
  padding: 10px 20px;
  display: none;
}

/* Style the dropdown menu items */
.dropdown-menu li {
  padding: 10px;
  border-bottom: 1px solid black;
}

.dropdown-menu li:last-child {
  border-bottom: none;
}

.dropdown-menu a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.dropdown-menu a:hover {
  background-color: #11115a;
}

/* Show the dropdown menu when the button is clicked */
.dropdown-button:hover+.dropdown-menu {
  display: block;
}

/* Show the dropdown menu when the dropdown menu container is hovered */
.dropdown:hover .dropdown-menu {
  display: block;
}